### Get the coordinates of each neighborhood

In [0]:
import pandas as pd
import numpy as np

Read the geospatial data into a pandas dataframe.

In [3]:
link = 'http://cocl.us/Geospatial_data'
df1 = pd.read_csv(link)
df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [4]:
# shape of the data
df1.shape

(103, 3)

Change the column name 'Postal code' to 'Postcode' to merge the two data frames together.

In [5]:
df1.columns = ['Postcode', 'Latitude', 'Longitude']

cols = df1.columns.tolist()
cols

['Postcode', 'Latitude', 'Longitude']

Read the csv file saved in the previous assignment.

In [8]:
df = pd.read_csv('df_can.csv', index_col=0)
df.head()

  Postcode      Borough                            Neighborhood
0      M1B  Scarborough                          Rouge ,Malvern
1      M1C  Scarborough  Highland Creek ,Rouge Hill ,Port Union
2      M1E  Scarborough       Guildwood ,Morningside ,West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

Merge the two dataframes togehter based on their Postcode.

In [9]:
df_new = pd.merge(df, df1, on='Postcode')
df_new.head()

  Postcode      Borough  ...   Latitude  Longitude
0      M1B  Scarborough  ...  43.806686 -79.194353
1      M1C  Scarborough  ...  43.784535 -79.160497
2      M1E  Scarborough  ...  43.763573 -79.188711
3      M1G  Scarborough  ...  43.770992 -79.216917
4      M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]

In [0]:
# save the file as a csv
df_new.to_csv(r'df_final.csv')